@import '~antd/dist/antd.css';


.layout-basic{
    transition: margin-left 0.2s;

    &__header{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 64px;
        padding: 0px 50px 0px 50px;
        background: rgba(221, 98, 27, 1);
    }

    &__header-brown{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 75px;
        padding: 0px 50px 0px 50px;
        background: rgba(251, 206, 72, 1);
    }

    &__content{
        // z-index: 0;
        min-height: calc(100vh - 75px);
        padding: 75px 0px 0px 0px;
        background: rgb(255, 255, 255);
    }
    
}

.header {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
  
    &-button {
      margin-left: 1150px;
      background: #ad4e00;
    }
  
  }

// .ant-btn-primary {
//     background-color: #ad4e00 !important;
//     border-color: #ad4e00 !important;
// }

// .ant-btn-primary:hover {
//     background-color: red !important;
//     border-color: red !important;
// }
