.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    margin-bottom: 30px;
  }

.site-page-button {
    display: flex;
    justify-content: center;
}

.div-image{
    background: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
}

.div-card-image{
    // max-width: 100%;
    max-height: 300px;
    // height: 50%;
    // width: auto/9; /* Bug de ie8 */
}

.site-page-image {
    width: 1400px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: warp;
}




$mainC:  hsl(33, 100%, 91%);
$mainD: hsl(40, 91%, 86%);
$mainE: hsl(39, 81%, 69%);
$secC: #9dabc0;
$svgC: rgba(#929cd0, .8);
$sz: 300px;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-bonito {
  .ant-card {
  @extend %center; 
  flex-direction: column;
  // width: $sz;
  // height: $sz*1.4;
  border: 1px solid #fff;
  background: $mainC;
  border-radius: 20px;
  box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
  }

  .ant-card-actions {
    @extend %center; 
    width: 400px;
    // height: $sz*.2;
    // border: 1px solid #fff;
    background: $mainD;
    border-radius: 10px;
    // margin-top: 110px;
    box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    // -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
  
  }
  .ant-card-bordered .ant-card-cover{
    margin-left: 1px;
    // margin-right: 1px;
    // margin-top: -80px;

  }

  // .ant-card-head {
  //   @extend %center; 
  //   width: 400px;
  //   height: $sz*.2;
  //   // border: 1px solid #fff;
  //   background: $mainE;
  //   border-radius: 10px;
  //   box-shadow: 
  //   inset 0 0 15px rgba(55, 84, 170,0),
  //   inset 0 0 20px rgba(255, 255, 255,0),
  //   7px 7px 15px rgba(55, 84, 170,.15),
  //   // -7px -7px 20px rgba(255, 255, 255,1),
  //   inset 0px 0px 4px rgba(255, 255, 255,.2);
  
  // }
}

.imagen-bonita{
  @extend %center; 
  // width: 400px;
  // height: $sz*.2;
  border-radius: 10px;
  box-shadow: 
  inset 0 0 15px rgba(55, 84, 170,0),
  inset 0 0 20px rgba(255, 255, 255,0),
  7px 7px 15px rgba(55, 84, 170,.15),
  -7px -7px 20px rgba(255, 255, 255,1),
  inset 0px 0px 4px rgba(255, 255, 255,.2);
}


.ant-card .card-bonito{
  @extend %center; 
  flex-direction: column;
  width: $sz;
  height: $sz*1.4;
  // border: 1px solid #fff;
  background: $mainC;
  border-radius: 20px;
  box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.custom-card > .ant-card-body > p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}