.list-users-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .list-item-meta-receta .ant-list-item-meta-title{
    color: rgba(0, 0, 0, 0.85);
    font-size: 30px;
    line-height: 24px;
  }

.receta-card .ant-card .ant-card-bordered {
    fontFamily: "sans-serif"
  };